{% extends 'home/base.html' %}

{% block title %}Página de Bienvenida{% endblock %}

{% block content %}
{% load static %}
<div class="crud-actions-top">
    <a href="{% url 'polls:admin_encuesta_crear' %}" class="create-question-button">
        <span class="button-icon">
            <img src="{% static './images/icons/add.png'%}">
        </span>
        Nueva Pregunta
    </a>
</div>

<div class="polls-container">
    {% if latest_question_list %}
        <ul class="poll-list">
            {% for question in latest_question_list %}
                <li class="poll-item">
                    <a href="{% url 'polls:solo_resultados' question.id %}" class="question-link">{{ question.question_text }}</a>

                    <div class="crud-actions">
                        <a href="{% url 'polls:admin_encuesta_editar' question.id %}" class="action-link edit-link">Editar</a>
                        <a href="{% url 'polls:elimina_pregunta' question.id %}" class="action-link delete-link">Eliminar</a>
                        <!--<a href="{% url 'polls:solo_resultados' question.id %}" class="action-link resultados-link">Ver Resultados</a>-->
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-questions">No hay encuestas disponibles. ¡Crea una nueva ahora!</p>
    {% endif %}

</div>

{% endblock %}



